.header {
  display: flex;
  width: 100%;
  background: black;
  position: fixed;
  top: 0;

  p {
    margin: 5px;
    padding: 10px;
    color: white;
  }

  .sign-in{
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  .header {
      font-size: 0.5em;
      padding: 0;
  }
}
