.App {
  display: grid;
  width: 100%;
  margin: 0 auto;
}




@media (prefers-reduced-motion: no-preference) { 
  .App-logo {
    animation: spin-loader infinite 5s linear;
  }
}

@keyframes spin-loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

